
body {
    margin: 0;
    padding: 0;
    font-size: large;
    font-family: Arial;
}

.container {
    position: relative;
    padding: 10px;
    vertical-align: middle;
    alignment: center;
    text-align: center;
}

.header{
    color: red;
}

input{
    font-size: large;
}


button{
    font-size: large;
}

div#output{
    position: relative;
    align-content: center;
    padding: 10px;
    text-align: center;
    display: table;
    margin: 0 auto;
}